* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.game-box {
  border: 1px solid rgb(255, 238, 0);
  border-radius: 10px;
  padding: 70px 30px;
  width: 36%;
}

input[type="text"]:focus,
.form-control:focus {
  border-color: rgb(255, 238, 0) !important;
  box-shadow: 0 0 5px rgb(255, 238, 0) !important;
}

.status {
  padding: 5px;
  background-color: rgb(243, 241, 241);
  margin: 12px 0;
}
